section#header-container {
  background: $primaryColor;

  header {
    nav {
      height: 35px;

      &.main {
        height: 60px;
        padding: .2rem 0 0 .1rem;
        @include flex(row, flex-start, center);

        .logo {
          @include flexBasis(0, 0, 100px);
          @include flex(row, center, center);

          img {
            width: 90%;
          }
        }

        .nav-items {
          font-size: $primarySize;
          height: 100%;
          @include flexBasis(1, 0, 50%);
          @include flex(row, flex-start, stretch);

          .item {
            color: $secondaryColor;
            @include flex(row, flex-star, center);
            padding: 0 1.62rem;
            cursor: pointer;

            span {
              height: 30px;
              @include flex(row, center, center);

              &:after {
                @extend %fa-icon;
                @extend .fas;
                content: "\f107";
                margin-left: .2rem;
              }
            }

            a {
              color: $secondaryColor;
              text-decoration: none;
            }

            &:hover {
              color: $primaryColor;
              background: $secondaryColor;

              a {
                color: $primaryColor;
              }
            }
          }
        }
      }
    }
  }
}