@mixin mainContainersWidth {
  width: 63%;
  margin: 0 auto;
}

@mixin headerPadding {
  padding: 0 1.5rem;
}

@mixin cardsInfoPadding {
  padding: 1rem 1.5rem;
}

/*flex*/
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexBasis($grow, $shrink, $basis) {
  flex: $grow $shrink $basis;
}