/*font sizes*/
$primarySize: .9rem;
$smallest: .75rem;
$normalSize: 1.1rem;
$bigger: 1.3rem;

/*font weight*/
$light: 200;
$normalWeight: 400;
$bold: 600;

/*colors*/
$primaryColor: #101010;
$secondaryColor: #fff;
$black: #000;
$grey: #989898;
$darkGrey: #3c3c3c;
$blue: #009cff;
$darkerBlue: #0072bc;
$violet: #c70eb8;
$darkViolet: #3c1567;
$mainBg: #e8e8e8;

/*images*/
$jumboPath: "../img/bg-painter-home.jpg";

/*spaces*/
$little: .5rem;
$less: 1rem;
$normal: 2rem;
$much: 4rem;