.cards {
  @include flex(row, space-between, flex-start);
  padding-top: $less + .3;

  .card {
    $width: calc(33% - 1rem);

    background: $secondaryColor;
    @include flexBasis(0, 0, $width);
    margin-right: $normal;

    .artwork {
      position: relative;
      height: 200px;

      > img {
        width: 100%;
        height: 100%;
        filter: blur(.03rem);
      }
    }

    .info {
      h3 {
        &.new:before {
          content: "new";
          color: $blue;
          font-style: italic;
          text-transform: uppercase;
          margin-right: $little;
        }
      }

      p, a {
        padding-top: $less;
      }

      a {
        color: $blue;
        display: inline-block;
      }

      @include flexBasis(column, flex-start, flex-start);
      @include cardsInfoPadding;
    }

  }

  @media screen and (max-width: $mobile) {
    & {
      @include flex(row, center, flex-start);
      flex-wrap: wrap;

      .card {
        $width: 92%;
        @include flexBasis(0, 0, $width);
        margin: unset;
        margin-bottom: $normal;

        &:last-of-type {
          margin: unset;
        }
      }
    }
  }
}